body {
  color: black;
  letter-spacing: 0.5px;
  line-height: 18px;
}

h2 {
  font-size: 18px;
  font-weight: 300;
  margin: 0px;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  height: 75px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  width: 95px;
  height: 75px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 50%;
  height: auto;
}

.wrap-searcher {
  display: flex;
  height: 75px;
  width: 1300px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-searcher .lupa {
  width: 30px;
  height: 30px;
  margin: 5px;
}
.wrap-searcher .lupa img {
  width: 100%;
  height: auto;
}
.wrap-searcher .searcher {
  height: 45px;
  width: 90%;
  padding: 15px 0px;
  border: 0;
  font-size: 16px;
  margin-left: 5px;
  outline: none;
}

.home {
  display: flex;
}
.home .nav-list {
  position: fixed;
  top: 75px;
  left: 0;
  width: 95px;
  margin: 0px;
  padding: 0px;
}
.home .nav-list li {
  list-style: none;
}
.home .nav-list .nav-item {
  width: 100%;
  height: 95px;
  margin: 0px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .nav-list .nav-item .nav-link-wrap {
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home .nav-list .nav-item .nav-link-wrap img {
  width: 30px;
  height: 30px;
  margin: 5px;
}
.home .nav-list .nav-item .nav-link-wrap span {
  font-size: 9px;
  margin: 5px;
}

.container {
  background-color: #f8f8f8;
  width: 100%;
  margin: 0px;
  flex: 1;
  margin-top: 75px;
  margin-left: 95px;
}
.container #photo-home {
  width: 100%;
  height: 384px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.container #photo-home img {
  width: 100%;
  height: auto;
}
.container #movies, .container #search_page, .container #popular_page, .container #top_rated_page, .container #upcoming_page, .container #now_playing_page {
  padding: 30px;
}
.container .movies_header, .container .popular_header, .container .top_rated_header, .container .upcoming_header, .container .now_playing_header {
  padding: 8px 30px;
  display: flex;
  justify-content: space-between;
}
.container .movies_header a, .container .popular_header a, .container .top_rated_header a, .container .upcoming_header a, .container .now_playing_header a {
  font-size: 12px;
}
.container .load_more_buttons {
  display: flex;
  justify-content: space-around;
}

.movies_list, .movies_list_toprated, .movies_list_upcoming, .movies_list_nowplaying, .results_list, .popular_results, .top_rated_results, .upcoming_results, .now_playing_results {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
.movies_list .movies_item, .movies_list_toprated .movies_item, .movies_list_upcoming .movies_item, .movies_list_nowplaying .movies_item, .results_list .movies_item, .popular_results .movies_item, .top_rated_results .movies_item, .upcoming_results .movies_item, .now_playing_results .movies_item {
  width: 15%;
  padding: 30px;
  list-style: none;
}
.movies_list .movies_item .movies_poster, .movies_list_toprated .movies_item .movies_poster, .movies_list_upcoming .movies_item .movies_poster, .movies_list_nowplaying .movies_item .movies_poster, .results_list .movies_item .movies_poster, .popular_results .movies_item .movies_poster, .top_rated_results .movies_item .movies_poster, .upcoming_results .movies_item .movies_poster, .now_playing_results .movies_item .movies_poster {
  width: 100%;
}
.movies_list .movies_item .movies_poster img, .movies_list_toprated .movies_item .movies_poster img, .movies_list_upcoming .movies_item .movies_poster img, .movies_list_nowplaying .movies_item .movies_poster img, .results_list .movies_item .movies_poster img, .popular_results .movies_item .movies_poster img, .top_rated_results .movies_item .movies_poster img, .upcoming_results .movies_item .movies_poster img, .now_playing_results .movies_item .movies_poster img {
  width: 100%;
  height: auto;
}

.results_list, .popular_results, .top_rated_results, .upcoming_results, .now_playing_results {
  flex-wrap: wrap;
}

.displayNone {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
