@media only screen and (max-width: 600px){

    body{
        margin:0px;
    }

    
    .header{
        height: 50px;
        

        .logo{
            width: 55px;
            height: 50px;
        }
        .wrap-searcher{
            width: 350px;
            height: 50px;
            margin-left:20px;
            background-color: white;
            justify-content: space-between;
            .lupa{
                width: 20px;
                height: 30px;
                @include center();
            }
            input{
                padding: 0px;
            }
        }
        #menu{
            height: 50px;
            width: 50px;
            display: block;
            @include center();
            
            img{
                width: 50%;
                height: 50%;
            }
        }
    }

    .home{
        .nav-list{
            display: none;
            
        }
    }

    .container{
        background-color:#f8f8f8;
        width:100%;
        margin:0px;
        margin-top: 0px;
        margin-left:0px;
        

        #home_container{
            width: 100%;
            #photo-home{
                width: 100%;
                height: 198px;
            }

            #movies{
                .movies_list, .movies_list_toprated, .movies_list_upcoming, .movies_list_nowplaying, .results_list, .popular_results, .top_rated_results, .upcoming_results, .now_playing_results{
                    flex-wrap: wrap;
                }
            }
        }
    }


    
}
